{% extends "base.html" %}
{% block title %}Estrutura Avançada de dados I{% endblock %}
{% block content %}
  <div class="page-header">
      <h1> Trabalho GA - Estrutura Avançada de dados I </h1>
  </div>
    <a href="encode" class="btn btn-lg btn-success">Codificar</a>
    <a href="decode" class="btn btn-lg btn-danger"> Decodificar</a>
    <div class="jumbotron tamanho-content clearfix">
      <h1> Informações </h1>
      <p> Fornece uma árvore binária baseada em um dicionário, no exemplo é usado um arquivo .txt para gerar o dicionário.</p>
      <p> Nome : Guilherme Lopes </p>
      <p> GitHub : <a href="http://www.github.com/guiajlopes" target="_blank">@guiajlopes</a></p>
      <p> Repositório no GitHub : <a href="https://github.com/guiajlopes/PHPHuffman" target="_blank">PHP Huffman</a></p>
      <h1> Instalação </h1>
      <p> - composer install </p>
      <p> - bower install </p>

    </div>
{% endblock %}
